In [1]:
#=Variables are the name given to memory location which is used to store the value in a program.
An identifier is a name given to entities like  functions, variables, and special keywords etc
=#

In [2]:
x=100

100

In [3]:
x*5

500

In [4]:
x=24

24

In [5]:
y=10

10

In [6]:
#Simple operations, such as swapping,  can be done very easily
x,y = y,x

(10, 24)

In [9]:
#julia  also allows Unicode names (UTF-8), but not all Unicode names are accepted in the variable name
_b =45

45

In [11]:
એશવ =45

45

In [12]:
#=Julia provides some built-in constants and functions and we can assign values to them
although it is not recommended to do so, as it can create confusion:
=#
pi =300

300

In [14]:
# We can use the typeof() function provided by Julia to find the type of the variable
typeof(_b)

Int64

In [15]:
language = "Julia"

"Julia"

In [16]:
typeof(language)

String

In [18]:
#in Julia, we can separate numbers using underscores
1_0_00
1_000_56456_0123

1000564560123

In [25]:
#We can also find the smallest and the largest value of a type of integer using the typemin() and typemax() function
typemax(Int64)

9223372036854775807

In [23]:
ans + 1

-9223372036854775808

In [24]:
ans +2

-9223372036854775806

In [26]:
typemin(Int128)

-170141183460469231731687303715884105728

In [27]:
#Understanding overflow behavior
x = Int16(10000)

10000

In [28]:
x*x

-7936

In [30]:
#=Why do we get x*x, which is 10000*10000 as -7936?
This is because we exceeded the value that the type of the variable can handle.
=#

In [31]:
# Boolean data type
 1 > 2

false

In [32]:
#Floating point
x =100.00

100.0

In [33]:
.10

0.1

In [34]:
24.

24.0

In [35]:
0.0==-0.0

true

In [37]:
2.99e8

2.99e8

In [40]:
#Replace e by f to generate Float32
2.99f8
2.99f8==2.99e8

true

In [41]:
#It is easy to convert values from Float64 to Float32
Float32(2.99e8)

2.99f8

In [42]:
#special functions of floating point no
1/0

Inf

In [43]:
-1/0

-Inf

In [44]:
0/0

NaN

In [45]:
nextfloat(0.0)

5.0e-324

In [46]:
prevfloat(0.0)

-5.0e-324

In [48]:
 #=There are two specific data types available for arbitrary precision arithmetic.
They are:
BigInt
BigFloat
=#
factorial(BigInt(100))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [50]:
factorial(BigFloat(100))

9.332621544394415268169923885626670049071596826438162146859296389521759999323012e+157

In [51]:
#Writing expressions with coefficients
x =4 
y=10
23(x+1) + 12(y+1) + 15

262

gith