# Tuples
**Tuples are used to store multiple items in a single variable**
**It is immutable in nature and it is represented by parenthesis**

In [1]:
 t = (24,45,65,89,95)

(24, 45, 65, 89, 95)

**We cannot use indexing in tuples**

# Named Tuple
**NamedTuple is a type of Tuple whose elements can be called in the memory location
 not just by its index value, but also by a name of the value.NamedTuples are also
 immutable, which means neither the values nor their names once defined, can be changed**

In [2]:
tupl2 = (a = 1, b = 2, c = 4, d = 5)

(a = 1, b = 2, c = 4, d = 5)

In [3]:
tupl3 = (a = 1, b = 2, c = "Hello Guys")

(a = 1, b = 2, c = "Hello Guys")

In [4]:
# Accessing using Index value
println(tupl2[2])
println(tupl2[4])

2
5

In [5]:
# Accessing using assigned value name
println(tupl3[:b])
println(tupl3.c)

2
Hello Guys

In [7]:
Enr_no = (:K,:R,:J,:P)
name =("keshav","rahul","rohan","mayank")
name_id = NamedTuple{Enr_no}(name)

(K = "keshav", R = "rahul", J = "rohan", P = "mayank")

In [8]:
for i in name_id
    println(i)
end

keshav
rahul
rohan
mayank

In [11]:
ar = [(45,30,20),(65,75,90),(896,456,123)]
sort(ar)

3-element Vector{Tuple{Int64, Int64, Int64}}:
 (45, 30, 20)
 (65, 75, 90)
 (896, 456, 123)

# Set

**Set in Julia is a collection of elements just like other collections like arrays, dictionaries, etc.
 Each element in a set must be unique. Sets are mutable data types, which means its values can be altered,
 deleted, overwritten, etc.**

In [1]:
s1 = Set{Int64}()

Set{Int64}()

In [2]:
push!(s1,65)
push!(s1,656)
push!(s1,68)
push!(s1,85)

Set{Int64} with 4 elements:
  65
  656
  68
  85

In [9]:
c = Set{String}(["hello","hi","good evening","good night"])
city = Set{String}(["Mumbai","Pune","Surat","Ahembadabad","hi"])

Set{String} with 5 elements:
  "Mumbai"
  "hi"
  "Ahembadabad"
  "Pune"
  "Surat"

In [5]:
in("hi",c)

true

In [6]:
for s in c
    println(s)
end

hi
hello
good evening
good night

In [7]:
union(c,city)

Set{String} with 8 elements:
  "Pune"
  "Surat"
  "Mumbai"
  "hi"
  "hello"
  "good evening"
  "good night"
  "Ahembadabad"

In [11]:
intersect(c,city)

Set{String} with 1 element:
  "hi"

In [12]:
setdiff(c,city)

Set{String} with 3 elements:
  "hello"
  "good evening"
  "good night"

# Dictionary

**Dictionary in Julia is a collection of key-value pairs, where each value in the dictionary
  can be accessed with its key. These key-value pairs need not be of the same data type, which
    means a String typed key can hold a value of any type like Integer, String, float, etc
. Keys of a dictionary can never be same, each key must be unique**

In [13]:
d = Dict()

Dict{Any, Any}()

In [16]:
d1 = Dict{Int32,String}()

Dict{Int32, String}()

In [17]:
d[1] = "Keshav"
d[2] = "rahul"
d[3] = "rohan"
d[4] = "elephant"
d[5] = "lion"

"lion"

In [18]:
d

Dict{Any, Any} with 5 entries:
  5 => "lion"
  4 => "elephant"
  2 => "rahul"
  3 => "rohan"
  1 => "Keshav"

In [19]:
d[1]

"Keshav"

In [20]:
number = Dict(x => x^3 for x  = 1:3:40)

Dict{Int64, Int64} with 14 entries:
  16 => 4096
  7  => 343
  25 => 15625
  28 => 21952
  37 => 50653
  1  => 1
  19 => 6859
  22 => 10648
  4  => 64
  13 => 2197
  34 => 39304
  40 => 64000
  10 => 1000
  31 => 29791

In [21]:
haskey(d,1)

true

In [22]:
in((1 => "Keshav"),d )

true

In [23]:
d[6] ="rayan"

"rayan"

In [24]:
keys(d)

KeySet for a Dict{Any, Any} with 6 entries. Keys:
  5
  4
  6
  2
  3
  1

In [25]:
values(d)

ValueIterator for a Dict{Any, Any} with 6 entries. Values:
  "lion"
  "elephant"
  "rayan"
  "rahul"
  "rohan"
  "Keshav"

In [26]:
for data in d
    println(data)
end

Pair{Any, Any}(5, "lion")
Pair{Any, Any}(4, "elephant")
Pair{Any, Any}(6, "rayan")
Pair{Any, Any}(2, "rahul")
Pair{Any, Any}(3, "rohan")
Pair{Any, Any}(1, "Keshav")

In [30]:
for k in keys(d)
    println(k," :",d[k])
end

5 :lion
4 :elephant
6 :rayan
2 :rahul
3 :rohan
1 :Keshav

In [31]:
 for k in sort(collect(keys(d)))
    println(k," :",d[k])
end

1 :Keshav
2 :rahul
3 :rohan
4 :elephant
5 :lion
6 :rayan

In [35]:
using Pkg
Pkg.add("DataStructures")

In [36]:
import DataStructures

In [37]:
sd = DataStructures.SortedDict(1=>"hi",2=> "hello",3=>"Bye")

DataStructures.SortedDict{Int64, String, Base.Order.ForwardOrdering} with 3 entries:
  1 => "hi"
  2 => "hello"
  3 => "Bye"